<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <div id="container">
            <h1 id="title">Tech Blog</h1>
            <nav>
                <ul>
                    <li> <a href="/home">Home</a></li>
                    <li> <a href="/dashboard">Dashboard</a></li>
                    <li> <a href="/logout">Log Out</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {{{body}}}
    </main>
    
</body>
</html>